<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <logger name="org.hibernate.SQL_SLOW" level="WARN"/>

    <!-- INFO 로그용 Slack Appender -->
    <appender name="SLACK_INFO" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_URL}</webhookUri>
        <channel>#v2서버접근로그</channel>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5level - %msg%n</pattern>
        </layout>
        <username>접근로그알리미</username>
        <iconEmoji>:information_source:</iconEmoji>
        <colorCoding>true</colorCoding>
    </appender>

    <!-- ERROR 로그용 Slack Appender -->
    <appender name="SLACK_ERROR" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_URL}</webhookUri>
        <channel>#v2서버에러로그</channel>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5level - %msg%n</pattern>
        </layout>
        <username>에러로그알리미</username>
        <iconEmoji>:fire:</iconEmoji>
        <colorCoding>true</colorCoding>
    </appender>

    <!-- Async Appender for INFO -->
    <appender name="ASYNC_SLACK_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK_INFO" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Async Appender for ERROR -->
    <appender name="ASYNC_SLACK_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK_ERROR" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <property name="LOG_PATH" value="/logs/spring-container"/> <!--docker 셋팅된 로그 마운트 경로랑 일치-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일을 일자별로 생성 -->
            <fileNamePattern>${LOG_PATH}/spring-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>365</maxHistory> <!-- 로그를 보관할 일 수 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss, Asia/Seoul} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger 설정 -->
    <root>
        <level value="INFO" />
        <appender-ref ref="ASYNC_SLACK_INFO" />
        <appender-ref ref="ASYNC_SLACK_ERROR" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
